<div class="d-flex justify-content-center">
    <chegg-jumbotron4>Loading...</chegg-jumbotron4>
</div>

<div class="d-flex justify-content-center">
    <h1>Life is easier with eBooks</h1>
</div>


<div class="container-fluid cardrow1 d-flex flex-row justify-content-evenly">
    
        <div class="col-2"></div>

        <div class="col-8">
            <div class="row">
                <div class="col-sm" *ngFor="let card of card3s">
                    <chegg-cardtype1 img={{card.img}} title={{card.title}} text={{card.text}} link={{card.link}}>
                        Loading...
                    </chegg-cardtype1>
                </div>
            </div>
        </div>

        <div class="col-2"></div>

</div>