.cardrow1 {
    gap: 1.5rem;
    min-width: 900px;
    max-width: 1200px;
    padding: 1.5rem;
    margin: 2.5rem auto;
}

.cardrow2 {
    gap: 1.5rem;
    min-width: 900px;
    max-width: 1200px;
    padding: 1.5rem;
    margin: 2.5rem auto;
}