.card {
    width: 15rem;
    height: 20rem;
    border-radius: 10px 10px 10px 10px;
    font-size: 16px;
    line-height: 1.25;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: 2.5rem auto;
    margin-right: 1rem;
    display: inline-flex;
}

.cardrow {
    align-items: center;
}