<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand mainnavbarbutton" href="#">Chegg</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav next4buttons">

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Books
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="books-rent&buy" class="dropdown-item" href="#">Rent/Buy</a></li>
            <li><a routerLink="books-read" class="dropdown-item" href="#">Read</a></li>
            <li><a routerLink="books-return" class="dropdown-item" href="#">Return</a></li>
            <li><a routerLink="books-sell" class="dropdown-item" href="#">Sell</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Study
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Missing, for now...</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Career
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Bootcamps</a></li>
            <li><a class="dropdown-item" href="#">Internships</a></li>
            <li><a class="dropdown-item" href="#">Career advice</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Life</a>
        </li>

      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 last3buttons">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">For educators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sign-in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>